.kaufman {
  background-color: #1f1f1f;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  padding-bottom: 90px;
}

.kaufman::before {
  content: "";
  width: 877px;
  height: 877px;
  background-image: url(../../images/kaufman-triangle.svg);
  background-size: cover;
  position: absolute;
  top: 0;
  right: -210px;
}
